html {
    font-size: 14px;
}
body {
    margin: 5;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.row {
    padding: 7px;
margin: 5px;
    
}

.direction {
}

.content {
    overflow-x:scroll;
    white-space: nowrap;
    padding-bottom: 2rem;
}

.maincontent {
}

section.row .step {
    margin-right:4px;
    display: inline-block;
}

section.row .add-step {
  border: none;
  cursor: pointer;
  position: relative;
  width: 3rem;
  display: inline-block;
}
section.row .add-step i {
  transition: all ease .3s;
  font-size: 2rem;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.5rem;
  margin-top: -3.0rem;
  height: 5rem;
  width: 5rem;
}
section.row .add-step .fa-arrow-right {
  opacity: .5;
}
section.row .add-step .fa-plus-circle {
  opacity: 0;
}
section.row .add-step:hover {
  -webkit-transform: scale(1);
}
section.row .add-step:hover .fa-arrow-right {
  opacity: 0;
}
section.row .add-step:hover .fa-plus-circle {
  opacity: .8;
}
section.row .add-step.ng-enter.ng-enter-active,
section.row .add-step.ng-leave {
  width: 5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.brand
{
  background: url(http://particular.net/Themes/ParticularSoftware/Styles/images/logo.png) no-repeat left center;
  height: 20px;
  width: 100px;
}